$blackgound: black;
$white: white;
$primaryColor: #FF635C;
$secondaryColor: #b85651;
$contenerPlus: 30px;
$contenerT: 30px;
$contenerSquare: 40px;
$contenerScore: 80px;
$widthDot: 5px;

$animDurationSmallBar: 0.3s;
$animDuration: 2s;
$animDelaySmallBar: $animDuration;